/*@import url('bootstrap.min.css');

body{
    background: url("../images/frog2.jpg") no-repeat center center fixed;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size:100% auto;
    margin-top: 12%;


}*/

#champtxt{
    margin-top: 15%;
    margin-left: 4%;

}
#bouton{
    margin-top: 2%;
    margin-left: 4%;

}